@plugin "daisyui";
/* Cursor Wave Effect */
body {
  padding-bottom: 64px;
}

.cursor-wave {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 165, 0, 0.45),
    rgba(255, 165, 0, 0.2),
    transparent 70%
  );
  transform: translate(-50%, -50%);
  pointer-events: none;
  will-change: transform, left, top;
}


/* Glow on hover */
footer:hover {
  box-shadow: 0 0 35px rgba(235, 34, 30, 0.7),
              0 0 60px rgba(59, 130, 246, 0.4);
}
