@plugin "daisyui";
/* Cursor Wave Effect */
.cursor-wave {
  position: absolute;
  width: 180px;
  height: 180px;
  background: radial-gradient(
    circle,
    rgba(255,165,0,0.4),
    rgba(59,130,246,0.2),
    transparent 70%
  );
  border-radius: 50%;
  filter: blur(40px);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.05s linear;
}

/* Glow on hover */
footer:hover {
  box-shadow: 0 0 35px rgba(235, 34, 30, 0.7),
              0 0 60px rgba(59, 130, 246, 0.4);
}
